* {
background-clip: firefox;
background-color: lightslategrey;
align-self: center;

}
.header {
text-align: center;
 
}
.container {

  align-content: space-around;
  height: 200px;
  width: 180px 
}

