* {
background-color: lightslategrey;
align-self: center;

}
.header {
text-align: center;
 
}
.form {
align-self: inherit;
color: greenyellow;


}
.container {
   border: 5px;
   text-align: : center; 
}
